.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5px 10px;
}
.dashCardHeading{
    margin-bottom: 15px;
}
.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width : 350px;
}
.exclamation{
    color:rgb(255, 94, 0);
}